<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Edit People</title>
</head>
<body>

	<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
		<label for="name">Enter name:</label> 
		<input type="text" th:field="*{name}" id="name"></input>
		<div style="color:red"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div> 
		<label for="age">Enter age:</label>
		<input type="text" th:field="*{age}" id="age"></input>
		<div style="color:red"  th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
		<label for="email">Enter email:</label>
		<input type="text" th:field="*{email}" id="email"></input>
		<div style="color:red"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
		<br /> 
		<input type="submit" value="Update"></input>
	</form>


</body>
</html>